.filterbox--expand-button {
    width: 100%;
    height: 20px;
    background-color: #cbd2d7;
    cursor: pointer;
    text-align: center;
    box-shadow: 5px 5px 5px 0 #000000;
}

.filterbox--content {
    padding: 1em;
    background: #87939b;
}