
.iteminfoview {
    color: white;
    width: 50%;
    max-width: 560px;
    font-size: 85%;
    font-weight: 200;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.iteminfoview a {
    color: #A4C5FF;
}

.iteminfoview button {
    color: #A4C5FF;
    border: 1px solid #A4C5FF;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.iteminfoview button:hover {
    background: #94B5EF;
    color: white;
}

.iteminfoview--main {
    background-color: #706C64;
    display: flex;
    flex: 0 0 auto;
}

.iteminfoview--main--thumbnail {
    height: 96px;
    padding: 8px;
    overflow: hidden;
    line-height: 96px;
}

.iteminfoview--main--thumbnail img {
    max-height: 90px;
    vertical-align: middle;
}

.iteminfoview--main--info {
    padding: 5px 0.5em 5px 0.5em;
    flex-grow: 1;
}

.iteminfoview--main--info h1 {
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.iteminfoview--main--info p {
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
}

.iteminfoview--main--star {
    text-align: right;
    padding: 5px;
}

.iteminfoview--main--star svg {
    fill: gold;
    stroke-width: 0px;
    filter: drop-shadow(0px 1px 2px black);
}

.iteminfoview--stat {
    padding: 5px 10px;
    color: #CCC;
    background-color: #4D4A44;
}

.iteminfoview--stat--row {
    display: flex;
    margin: 0.5em 0;
}

.iteminfoview--stat--cell {
    flex-grow: 1;
}

.iteminfoview--child-age {
    font-size: 80%;
}

.iteminfoview--raw {
    flex: 1 1 auto;
    overflow: scroll;
    padding: 1em;
    background-color: #272822;
    user-select: text;
}

.right-aligned {
    text-align: right;
}