.items-list--container {
  display: flex;
  flex-wrap: wrap;
}

.items-list--item {
  margin: 0.1em;
  border: 3px solid #00000000;
  cursor: pointer;
}

.items-list--item-selected, .items-list--item-selected:hover {
  border-color: blue !important;
}

.items-list--item:hover {
  border-color: gray;
}

.items-list--group-delimiter {
	width: 100%;
}