.people-list {
	display: block;
	select, button {
		padding: 0.3em 0.5em;
		font-size: 110%;
		margin: 0.5em;
		border: none;
	}

	select {
		appearance: none;
	}

	button {
		cursor: pointer;
	}

	&--ignore-button {
		background: red;
		color: white;
	}

	&--similars {
		display: inline-flex;
		flex-wrap: wrap;
	}

	&--facepreview {
		margin: 0.25em;
		display: inline-block;

		img {
			height: 80px;
			width: auto;
		}

		&--person-name {
			font-weight: 100;
			font-size: 90%;
			text-align: center;
		}

		&--tagged-icon {
			color: lightgreen;
		}

		&--ignored-icon {
			color: red;
		}
	}

	&--people-dropdown {
	}
}
