.tagger {
	text-align: center;

	input, button {
		font-size: inherit;
		border: 1px solid white;
		border-radius: 0;
		padding: 0.5em;
	}

	a {
		cursor: pointer;
	}

	button {
		cursor: pointer;
	}

	button:hover {
		background-color: #30B030;
		color: white;
	}

	font-size: 110%;

	&--facethumbnail {
		margin: 1em 1em;

		&--loading {
			height: 128px;
			text-align: center;
		}

		&--ignored {
			filter: grayscale(100%);
		}
	}

	&--ignorebutton {
		border: 1px solid white;
		border-radius: 0;
		margin: 0.5em;
		background-color: pink;

		&--ignored {
			background-color: red;
			color: white;
		}
	}

	&--tagbutton {
		border: 1px solid white;
		border-radius: 0;
		margin: 0.5em;

		&--current {
			background-color: blue;
			color: white;
		}

		&--guessed {
			border-bottom: 4px solid red !important;
		}
	}

	&--add-person {

	}
}