.imglist-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  display: relative;
  user-select: none;
}

.imglist--toolbar {
  grid-row: 2/2;
}

.imglist-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 22, 0, 0.5);
  z-index: 50;
}

.grid-view {
  overflow: scroll;
  grid-row: 1/2;
}

.grid-view-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.grid-view--item {
  border: 5px solid #00000000;
  border-radius: 10px;
  margin: 0.1em;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.grid-view--video {
  border-color: green;
}

.grid-view--type-icon {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.grid-view--type-icon svg {
  filter: drop-shadow(0 0 1px black);
  stroke: lightgray;
}

.grid-view--star-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.grid-view--star-icon svg {
  fill: gold;
  stroke-width: 0;
  filter: drop-shadow(0 0 2px black);
}

.grid-view--tasks-icon {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.grid-view--tasks-icon svg {
  stroke: lightgray;
  stroke-width: 2;
  filter: drop-shadow(0 0 2px black);
}

  
.grid-view--tasks-running svg {
  stroke: red;
}
  
.grid-view--tasks-pending svg {
  stroke: orange;
}

.grid-view--item:hover {
  border: 5px solid cyan;
}

.grid-view--item:hover .filmstrip {
  display: block;
}

.grid-view--item--selected {
  border: 5px solid gold;
}

.grid-view--item--non-optimized img {
  filter: grayscale(70%);
}

.grid-view--item img {
  height: 100%;
}

.grid-view--header {
  background-color: lightblue;
}
