
body {
  background-image: url("./i/background_dark.jpg");
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#container {
  display: grid;
  grid-template-columns: auto 1fr
}

#left-pane {
  grid-column-start: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#right-pane {
  grid-column-start: 2;
  height: 100vh;
  position:relative;
}
