.dir-entry {
	color: #565656;
	padding: 0.3em 1em 0.3em 1em;
    display: flex;
}

.dir-entry svg {
	vertical-align: baseline;
	margin-bottom: -2px;
}

.dir-entry:hover {
	background-color: rgb(199, 203, 209);
}

.dir-entry-selected {
	background-color: rgb(199, 203, 209);
}

.dir-entry--name {
	font-size: 80%;
	margin-left: 0.5em;
}

.dir-entry--button {
	margin-left: auto!important;
    color: black!important;
}

.dir-entry--name--indent {
	width: 1em;
	display: inline-block;
}

.dir-entry-dragdrop-target {
    background-color: rgb(157, 228, 94);
}

.dir-entry-highlighted {
    background-color: rgb(208 215 217);
}