.map-container {
    width: 100%;
    height: 100vh;
  }

.marker {
    background-color: #1eb4ff;
    border: 3px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.map-back-to-pictures {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0.5em 0.5em;
    /* background: white; */
    color: white;
    text-shadow: 1 black;
}

