.stats {
  background-color: white;
  color: black;
  font-family: monospace;
}
.stats--container {
  border: 1px solid red;
}
.stats h1 {
  color: gray;
}
.stats--percent-value {
  font-weight: bold;
  cursor: pointer;
}
