
.stats {
    background-color: white;
    color: black;
    font-family: monospace;

    &--container {
        border: 1px solid red;
    }

    h1 {
        color: gray;
    }

    &--percent-value {
        font-weight: bold;
        cursor: pointer;
    }
}