.toolbar {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap-reverse; /* this is a hack to move toolbar to the bottom of page */
}

.toolbar--spacer {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 1em;
    position: relative;
}

.toolbar--button {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: hsla(218, 10%, 64%, 1);
    cursor: pointer;
    margin: 0 1em;
    position: relative;
}

.toolbar--button--highlighted svg {
    color: yellow !important;
}

.toolbar--button--disabled {
    display: none;
}

.toolbar--button:hover svg {
    color: #ebedef;
}

.toolbar--button svg {
    vertical-align: middle;
}

.toolbar--tooltip {
    background-color: hsla(0, 0%, 0%, 0.8);
    position: absolute;
    visibility: hidden;
    border: none;
    border-radius: 8px;
    bottom: 40px;
    white-space: nowrap;
    padding: 0 8px;
    left:50%;
    transform: translateX(-50%);
    font-size: smaller;
    line-height: 30px;
}

.toolbar--button:hover .toolbar--tooltip {
    visibility: visible;
}