.viewer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.viewer-container .toolbar {
    position: absolute;
    opacity: 0;
    background-color: #0000006b;
}

.viewer-container .toolbar:hover {
    opacity: 1;
}

.viewer-container--img-container {
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
}

.viewer-container--img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.viewer-container--video {
    width: 100%;
    height: calc(100% - 35px);
}

.viewer-container--star-icon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.viewer-container--star-icon svg {
    fill: gold;
    stroke-width: 0;
    filter: drop-shadow(0 0 2px black);
}

.viewer-container--info-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 80%;
    background: rgba(0,0,0,0.5);
    padding: 1em;
}

.viewer-container--enhance-button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
    color: white;
    filter: drop-shadow(0, 1px, 2px black);
}

.viewer-container--enhance-button:hover {
    opacity: 1.0;
}