.geotagger-map-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
}

.ui-row-delimiter {
    height: 1em;
}

.ui-col-delimiter {
    width: 1em;
    display: inline-block;
}

.save-button-container {
    text-align: right;
}

.map_status {
    text-align: right;
}

.center-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    z-index: 100;
}

.select-known-location {
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;
}